# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SlimeCave.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vikto\Projects\Unity\SlimeCave\.idea\.idea.SlimeCave\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
